<template>

  <div id="app">
    <div class="ui inverted menu">
        <router-link to="/user">
        <a class="item"><img src="./assets/logo.png"></a>
        </router-link>
        <a class="item">Contract</a>
          <div class="right menu">
            <router-link to="/">
            <a class="item"><i class="user icon"></i></a>
            </router-link>
          </div>
          
      </div>
    
    <router-view/>
    
  </div>
  
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://code.jquery.com/jquery-3.2.1.slim.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js');
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  justify-items: center;
  
}
</style>
