<template>
    <div class="login">

        <div class = "row" style="width: 30%; margin: 0 auto;">
            
            <div class="ui segment">
      
                <div class="ui grid" style="margin-left:5px; margin-top:10px; margin-right:5px; justify-content:center">
                    
                    <div class="ui teal segment" style="margin-bottom:10px">
                     <div class="input-group-btn">
                        <span class="input-group-btn">
                            <div class="ui teal ribbon label" style="font-size:15px">
                            Login
                            </div>
                        </span>
                        
              
                     </div>
            
                    </div>
                </div>
                
                <br>
                <form>
                    <div class="form-group" >
                        <label class="pull-left">User Account</label>
                        <input type="text" class="form-control" placeholder=" User Account" v-model="userName">
                        
                    </div>
                    <div class="form-group" >
                        <label class="pull-left">Password</label>
                        <input type="password" class="form-control" placeholder=" Password" v-model="passWord">
                    </div>
                    <div class="input-group">
                        
                        <button type="button" class="btn"  @click="submit()">Login</button>
                         
                    
                    </div>
                    

                </form>

            </div>
        
        </div>
    </div>
</template>


<script>
import axios from 'axios'
export default {
  data() {
    return {
      credentials: {
        username: '',
        password: ''
      },
      error: '',
      userName: '',
      passWord: '',
      check:1
    }
  },
  methods: {
    submit() {
        
         console.log(this.userName)
         console.log(this.passWord)
        var i=0
        var thisfunc = this
        for(i=0;i<this.credentials.length;i++){
            console.log(this.credentials[i].username)
            if(this.credentials[i].username == this.userName){
                this.check=0 
                console.log("username")
                if(this.credentials[i].password == this.passWord){
                    console.log("success")
                    var json = JSON.stringify(this.credentials[i])
                    console.log(json)
                    axios.post('http://localhost:8081/restapi' , json)
                      .then(function(response){ 
                    
                if(response.data.success) 
                { 
                console.log(response.data.token) 
                localStorage.setItem('token', response.data.token) 
                thisfunc.$router.push({ path: '/UserList'})
                
                } 
                else{ 
                this.error="Invalid Username or password" 
                
                } 

                })
        .catch((error) => {
          console.log(error)
        })
                    break;
                } 
            }
        }
        
        if(this.check == 1)
        {   alert("Incorrect username password")
            window.location.reload()}

    }
 
    },
  mounted(){
      axios.get('http://localhost:8081/userpasses')
      .then((response)=>{
        console.log(response.data)
        this.credentials = response.data
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  
}
</script>

