<template>
    <div class="container">
        <form>
            <div class="well">
                <h4>Add User</h4>
                <div class="form-group" >
                    <label class="pull-left">Contact id: </label>
                    <input type="number" class="form-control" placeholder="cid" v-model="User.cid">
                </div>
                <div class="form-group" >
                    <label class="pull-left">First Name: </label>
                    <input type="text" class="form-control" placeholder="First Name" v-model="User.firstName">
                </div>
                <div class="form-group" >
                    <label class="pull-left">Last Name: </label>
                    <input type="text" class="form-control" placeholder="Last Name" v-model="User.lastName">
                </div>
                <div class="form-group" >
                    <label class="pull-left">Email: </label>
                    <input type="email" class="form-control" placeholder="Email" v-model="User.email">
                </div>
                <div class="form-group" >
                    <label class="pull-left">Mobile No: </label>
                    <input type="number" class="form-control" placeholder="mobileno" v-model="User.mobileno">
                </div>
                <div class="form-group" >
                    <label class="pull-left">Facebook: </label>
                    <input type="url" class="form-control" placeholder="facebook" v-model="User.facebook">
                </div>
                <div class="form-group" >
                    <label class="pull-left">Image URL: </label>
                    <input type="url" class="form-control" placeholder="image" v-model="User.image">
                </div>
            </div>
            <router-link to="/UserList">
                <button type="submit" class="glyphicon glyphicon-save" @click="addToAPI">Save</button>
                <button class="glyphicon glyphicon-remove">close</button>
            </router-link>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      User: {
        cid:'',
        firstName: '',
        lastName: '',
        email: '',
        mobileno:'',
        facebook:'',
        image:''
      }
    }
  },
  methods: {
    addToAPI () {
      let newUser = {
        cid: this.User.cid,
        firstName: this.User.firstName,
        lastName: this.User.lastName,
        email: this.User.email,
        mobileno: this.User.mobileno,
        facebook: this.User.facebook,
        image: this.User.image,
      }
      console.log(newUser)
      axios.post('http://localhost:8081/users', newUser)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
      window.location.reload()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

