<template>
    <div class="container">
        <h1>List of Users</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." v-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span1 class="glyphicon glyphicon-search" aria-hidden="true"></span1>
                                Search
                            </button>
                            <router-link to="/NewUser">
                                <button1 class="btn btn-defult" type="button" style="color:white; background:#4CAF50; border-color:#4CAF50;"> <!-- Add button -->
                                    <span class="glyphicon glyphicon-plus">ADD</span>
                                </button1> 
                            </router-link>
                        </span>
                        
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
        <div class="ui link cards" style="padding:15px; justify-content:center;" >
            <div class="card" v-for="auser in filterdUsers" v-bind:key="auser._id"> <!-- card template -->
                <div class="image">
                    <img v-bind:src=auser.image>
                </div>
                <div class="content">
                    <div class="header">{{auser.firstName+ "    "+auser.lastName}}</div>
                    <div class="description">
                        <a text-align:center>Mobile:{{ auser.mobileno}}</a><br>
                        <a text-align:center>Email:{{ auser.email}}</a><br>
                        <a text-align:center>facebook:{{ auser.facebook}}</a><br>
                    </div>
                </div>
                <div class="extra content">
                    <span class="floated">
                        <router-link :to="{ path: '/UpdateUser/'+ auser._id}"> <!-- /Update button -->
                            <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
                        </router-link>
                        <button class="btn btn-xs btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm" @click="DELETE(auser._id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Are you sure?</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"> Are you sure you want to delete this item? </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <router-link to="/UserList">
                            <button type="button" class="btn btn-danger" @click="delUser(uid)">Delete</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name:'users',
    data(){
        return{
            Users: [],
            uid: '',
            search: ''
        }
    },
    methods: {
        // Delete User
        delUser (userId) {
            var url = 'http://localhost:8081/users/' + userId
            axios.delete(url)
            .then((response) => {
                console.log('Delete UserId: ' + userId)
            })
            .catch((error) => {
                console.log(error)
            })
            window.location.reload()
        },
        DELETE (id) {
            $('#my-modal').modal('show')
            this.uid = id
        }
    },
    computed:{
        filterdUsers: function(){
            return this.Users.filter((user)=>{
                var fullname=user.firstName+' '+user.lastName
                return fullname.toLowerCase().match(this.search.toLowerCase())
            })
        }
    },
    mounted(){
        axios.get('http://localhost:8081/users')
        .then((response)=>{
            console.log(response.data)
            this.Users = response.data
        })
        .catch((error)=>{
            console.log(error)
        })
    }
  }

</script>

<style>
    .span1{
        background-color: #4CAF50; /* Green */
        border: none;
        color: rgb(168, 66, 66);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>
